@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Degular Display";

  }
}

* {
  font-family: "Degular Display", "Inter", sans-serif;
  margin: 0;
  padding: 0;
}